# {{ ansible_managed }}

{% for endpoint in icinga_agent_endpoints %}
object Endpoint "{{ endpoint.name }}" {
  host = "{{ endpoint.host }}"
}
{% endfor %}

{% for zone in icinga_agent_zones %}
object Zone "{{ zone.name }}" {
  endpoints = [ "{{ zone.endpoints | join('", "') }}" ]
{% if zone.parent is defined %}
  parent = "{{ zone.parent }}"
{% endif %}
}
{% endfor %}

object Zone "director-global" {
  global = true
}

object Zone "global-templates" {
  global = true
}
