---
dependency:
  name: galaxy
driver:
  name: docker
platforms:
  - name: rockylinux8
    image: eniocarboni/docker-rockylinux-systemd:8
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    cgroupns_mode: host
    privileged: true
    pre_build_image: true
    command: ""
  - name: debian11
    image: geerlingguy/docker-debian11-ansible:latest
    cgroupns_mode: host
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    privileged: true
    pre_build_image: true
    command: ""
  - name: debian12
    image: geerlingguy/docker-debian12-ansible:latest
    cgroupns_mode: host
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    privileged: true
    pre_build_image: true
    command: ""
  - name: ubuntu2204
    image: geerlingguy/docker-ubuntu2204-ansible:latest
    cgroupns_mode: host
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    privileged: true
    pre_build_image: true
    command: ""
provisioner:
  name: ansible
