---
- name: Verify
  hosts: all
  tasks:
    - name: set name of installation package based on distro
      set_fact:
        icinga_install_plugins:
          - nagios-plugins-all
      when:
        - ansible_os_family == 'RedHat'
        - ansible_facts.distribution_major_version | int is version('8', '<')

    - name: set name of installation package based on distro
      set_fact:
        icinga_install_plugins:
          - monitoring-plugins
      when: ansible_os_family == 'Debian'

    - name: include default vars from icinga_plugins roles
      include_vars:
        file: ../../defaults/main.yml

    - name: verify that plugin dir exists
      file:
        path: "{{ icinga2_plugins_pluginsdir }}"
        state: directory
      register: result_plugin_dir

    - name: validate plugin dir exists on system
      assert:
        that:
          - "result_plugin_dir.state == 'directory'"
          - "result_plugin_dir.mode == '0755'"
          - "result_plugin_dir.owner == 'root'"
          - "result_plugin_dir.group == 'root'"

    - name: search for all files in plugins directory
      ansible.builtin.find:
        paths: "{{ icinga2_plugins_pluginsdir }}"
        recurse: yes
        file_type: file
      register: files_in_plugins_dir
      check_mode: no

    - name: validate plugins belongs to the right user for Redhat based systems
      assert:
        that:
          - "item.pw_name == 'icinga'"
          - "item.gr_name == 'icinga'"
      loop: "{{ files_in_plugins_dir.files }}"
      when: ansible_os_family == 'RedHat'

    - name: validate plugins belongs to the right user for Debian based systems
      assert:
        that:
          - "item.pw_name == 'nagios'"
          - "item.gr_name == 'nagios'"
      loop: "{{ files_in_plugins_dir.files }}"
      when: ansible_os_family == 'Debian'

    - name: verify that package is installed for Redhat based systems
      yum:
        name: "{{ icinga_install_plugins }}"
        state: present
      register: result_redhat_installation
      when: ansible_os_family == 'RedHat'

    - name: verify that package is installed for Debian based systems
      apt:
        name: "{{ icinga_install_plugins }}"
        state: present
      register: result_debian_installation
      when: ansible_os_family == 'Debian'

    - name: validate package is installed (redhat)
      assert:
        that:
          - "result_redhat_installation is not changed"
      when: ansible_os_family == 'RedHat'

    - name: validate package is installed (debian)
      assert:
        that:
          - "result_debian_installation is not changed"
      when: ansible_os_family == 'Debian'
