---

- name: install required dependencies
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  loop: "{{ dependency_packages }}"
  when:
    - dependency_packages is defined
    - dependency_packages | length > 0
  tags:
    - install_dependencies

# https://github.com/Icinga/icinga2/issues/7927
- name: install icinga and nagios plugins except for the mysql-plugins on el8
  ansible.builtin.package:
    name: "{{ item }}"
    exclude:
      - nagios-plugins-all
      - nagios-plugins-mysql
      - nagios-plugins-2.3.3-3.el8.x86_64
    state: present
  loop: "{{ icinga_install_plugins }}"
  when:
    - icinga_install_plugins is defined
    - icinga_install_plugins | length > 0
    - ansible_facts.os_family == "RedHat"
    - ansible_facts.distribution_major_version | int is version('8', '>=')

- name: install icinga and nagios plugins
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  loop: "{{ icinga_install_plugins }}"
  when:
    - icinga_install_plugins is defined
    - icinga_install_plugins | length > 0
    - (ansible_facts.os_family == "RedHat" and ansible_facts.distribution_major_version | int is version('7', "=")) or ansible_facts.os_family == "Debian"

- name: copy icinga plugins to target node # noqa risky-file-permissions
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ icinga2_plugins_pluginsdir }}/"
  with_fileglob:
    - "{{ icinga_plugins_path }}/*"
  when:
    - icinga_plugins_path is defined
    - icinga_plugins_path | length > 0

- name: copy icinga plugins to destination path from git repo
  ansible.builtin.git:
    repo: "{{ icinga_plugins_git_repo_url }}"
    dest: "{{ icinga_plugins_git_repo_dest_path }}"
    version: "{{ icinga_plugins_git_repo_version }}"
    force: true
  when:
    - icinga_plugins_git_repo_url is defined
    - icinga_plugins_git_repo_url | length > 0

- name: "search for all files in plugins directory"
  ansible.builtin.find:
    paths: "{{ icinga2_plugins_pluginsdir }}"
    recurse: true
    file_type: any
  register: files_in_plugins_dir
  check_mode: false

- name: set plugins ownership
  ansible.builtin.file:
    path: "{{ item.path }}"
    owner: "{{ icinga2_user[ansible_os_family] }}"
    group: "{{ icinga2_group[ansible_os_family] }}"
    mode: 0755
  loop: "{{ files_in_plugins_dir.files }}"
  loop_control:
    label: "{{ item.path }}"
  tags:
    - set_ownership
