---

- name: install required dependencies
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  loop: "{{ dependency_packages }}"
  tags:
    - install_dependencies

# https://github.com/Icinga/icinga2/issues/7927
- name: install icinga and nagios plugins except for the mysql-plugins on el8
  ansible.builtin.package:
    name: "{{ item }}"
    exclude:
      - nagios-plugins-all
      - nagios-plugins-mysql
      - nagios-plugins-2.3.3-3.el8.x86_64
    state: present
  loop: "{{ icinga_install_plugins }}"
  when:
    - icinga_install_plugins is defined
    - icinga_install_plugins | length > 0
    - ansible_facts.os_family == "RedHat"
    - ansible_facts.distribution_major_version|int is version('8', '>=')

- name: install icinga and nagios plugins
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  loop: "{{ icinga_install_plugins }}"
  when:
    - icinga_install_plugins is defined
    - icinga_install_plugins | length > 0
    - ansible_facts.distribution != "RedHat" and ansible_facts.distribution_major_version|int is version('8', '<')

- name: copy icinga plugins to target node
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ icinga2_check_plugins_dest_plugins_dir }}/"
  with_fileglob:
    - "{{ icinga_plugins_path }}/*"
  when:
    - icinga_plugins_path is defined
    - icinga_plugins_path | length > 0

- name: "search for all files in plugins directory"
  ansible.builtin.find:
    paths: "{{ icinga2_check_plugins_dest_plugins_dir }}"
    recurse: yes
    file_type: any
  register: files_in_plugins_dir
  check_mode: no

- name: set plugins ownership
  ansible.builtin.file:
    path: "{{ item.path }}"
    owner: "icinga"
    group: "icinga"
    mode: 0755
  loop: "{{ files_in_plugins_dir.files }}"
  loop_control:
    label: "{{ item.path }}"
  tags:
    - set_ownership
