---
- name: "set facts for start_time_now and end_time of the maintenance window"
  ansible.builtin.set_fact:
    start_time_now: "{{ ansible_date_time.epoch }}"
    end_time: "{{ ((duration + duration_unit) | community.general.to_time_unit('seconds') | int) + ansible_date_time.epoch | int }}"
  delegate_to: localhost
  run_once: true
  changed_when: false
  when:
    - icinga_action == "add_downtimes"

- name: "Default task: set_fact: define icinga_host_filter as single host"
  ansible.builtin.set_fact:
    icinga_host_filter: "{{ target }}"
  when:
    - single_host_downtime == "true"

- ansible.builtin.debug:
    var: target

- name: "set_fact: define icinga_host_filter as group"
  ansible.builtin.set_fact:
    icinga_host_filter: "{{ groups[target] |
                            list |
                            flatten }}"
  when:
    - single_host_downtime == "false"

- name: "include add_downtimes"
  ansible.builtin.include_tasks: add_downtimes.yml
  when:
    - icinga_action == "add_downtimes"

- name: "include remove_downtimes"
  ansible.builtin.include_tasks: remove_downtimes.yml
  when:
    - icinga_action == "remove_downtimes"

- name: "include remove_all_downtimes"
  ansible.builtin.include_tasks: remove_all_downtimes.yml
  when:
    - icinga_action == "remove_all_downtimes"
